In [7]:
import pandas as pd
from io import StringIO

# Exercice 31

In [8]:
e31 = pd.Series([5, 7, 9, 15, 16, 17.5, 16.5, 14.5, 8, 4, 3, -2, -8, -20])
moyenne = e31.sum() / e31.count()
e31.mean(), moyenne

(6.107142857142857, 6.107142857142857)

#  Exercice 32

In [10]:
e32 = pd.read_csv(StringIO("""x,n
15,50
19,30
21,40
25,100
30,120
35,20
40,20
"""))
e32["nx"] = e32.n * e32.x

In [12]:
e32.nx.sum() / e32.n.sum()

25.68421052631579

#  Exercice 33

In [23]:
e33 = pd.read_csv(StringIO("""a,b,x,n,nx,f,fx
45,55,,15,,,
55,65,,35,,,
65,75,,70,,,
75,85,,55,,,
85,95,,25,,,
"""))
total = e33.n.sum()
e33.x = (e33.a + e33.b) / 2
e33.nx = e33.x * e33.n
e33.f = e33.n / total
e33.fx = e33.f * e33.x
e33

    a   b     x   n      nx      f     fx
0  45  55  50.0  15   750.0  0.075   3.75
1  55  65  60.0  35  2100.0  0.175  10.50
2  65  75  70.0  70  4900.0  0.350  24.50
3  75  85  80.0  55  4400.0  0.275  22.00
4  85  95  90.0  25  2250.0  0.125  11.25

In [27]:
moyenne1 = e33.nx.sum() / e33.n.sum()
moyenne2 = e33.fx.sum()
moyenne1, moyenne2

(72.0, 72.0)

# Exercice 34

In [44]:
e34 = pd.read_csv(StringIO("""a,b,x,n,nx,f,fx
,20,,2500,,,
20,30,,1701,,,
30,40,,1422,,,
40,50,,714,,,
50,,,1500,,,
"""))

In [48]:
# a
e34.at[0, "a"] = 8
e34.at[4, "b"] = 80

In [49]:
# b
e34.at[0, "a"] = 12
e34.at[4, "b"] = 160

In [50]:
total = e34.n.sum()
e34.x = (e34.a + e34.b) / 2
e34.nx = e34.x * e34.n
e34.f = e34.n / total
e34.fx = e34.f * e34.x
e34

      a      b      x     n        nx         f         fx
0  12.0   20.0   16.0  2500   40000.0  0.319000   5.103994
1  20.0   30.0   25.0  1701   42525.0  0.217047   5.426183
2  30.0   40.0   35.0  1422   49770.0  0.181447   6.350644
3  40.0   50.0   45.0   714   32130.0  0.091106   4.099783
4  50.0  160.0  105.0  1500  157500.0  0.191400  20.096976

In [51]:
moyenne1 = e34.nx.sum() / e34.n.sum()
moyenne2 = e34.fx.sum()
moyenne1, moyenne2

(41.07758070690315, 41.07758070690315)