In [54]:
import pandas as pd
from io import StringIO
from scipy import interpolate

# Exercice 27

In [61]:
df = pd.read_csv(StringIO("""a,b,n
0,20,712
20,30,1701
30,40,1422
40,50,714
50,100,620
"""))

# Exercice 28

In [69]:
df = pd.read_csv(StringIO(""""a","b","n"
45,50,2
50,55,4
55,60,6
60,65,12
65,70,13
70,75,12
75,80,7
80,85,7
85,90,6
90,95,1
"""))

In [76]:
df = pd.read_csv(StringIO(""""a","b","n"
19.7,19.8,2
19.8,19.85,5
19.85,19.9,7
19.9,19.95,11
19.95,20.0,15
20.0,20.05,14
20.05,20.1,12
20.1,20.15,8
20.15,20.2,4
20.2,20.3,2
"""))

# Exercice 29

In [83]:
df = pd.read_csv(StringIO(""""a","b","n"
20,25,9
25,30,27
30,35,36
35,40,45
40,45,18
45,50,9
50,55,3
55,60,3
"""))

# Exercice 30

In [84]:
df = pd.read_csv(StringIO(""""a","b","n"
30.00,40.00,12
40.00,42.50,13
42.50,45.00,20
45.00,50.00,30
50.00,52.50,16
52.50,55.00,8
"""))

# Calcules

In [85]:
# calcule des effectifs cumulés
df["ncc"] = df.n.cumsum()
df

      a     b   n  ncc
0  30.0  40.0  12   12
1  40.0  42.5  13   25
2  42.5  45.0  20   45
3  45.0  50.0  30   75
4  50.0  52.5  16   91
5  52.5  55.0   8   99

In [86]:
# nombre d'occurance
total = df.n.sum()
total

99

In [87]:
y = total / 2 if total % 2 == 0 else (total + 1) / 2
y

50.0

In [88]:
med_classe = df[df['ncc'] - y > 0][:1]
med_classe

      a     b   n  ncc
3  45.0  50.0  30   75

In [89]:
# Interpolation linéaire de la médiane
interpolate.interp1d(df.ncc, df.b)(y)

array(45.83333333)